[submodule ".themes/bkutil-bootstrap-theme"]
	path = .themes/bkutil-bootstrap-theme
	url = https://github.com/bkutil/bootstrap-theme.git
[submodule ".themes/lucaslew-whitespace"]
	path = .themes/lucaslew-whitespace
	url = https://github.com/lucaslew/whitespace.git
